._mx__md_container{
  font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
  font-size:14px;
  max-width:900px;
	margin-left:auto;
	margin-right:auto;
}
.hljs-keyword{
  color: #F92672;
}
.hljs-built_in{
  color: #0071A6;
}

/*.cm-s-monokai-sublime {
	font-size: 1em;
	line-height: 1.5em;
	font-family: inconsolata, monospace;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	background: #272822;
	color: #F8F8F2;
}
.cm-s-monokai-sublime .CodeMirror-lines {
	padding: 8px 0;
}
.cm-s-monokai-sublime .CodeMirror-gutters {
	box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	background-color: #272822;
	padding-right: 10px;
	z-index: 3;
	border: none;
}
.cm-s-monokai-sublime div.CodeMirror-cursor {
	border-left: 3px solid #F8F8F2;
}
.cm-s-monokai-sublime .CodeMirror-activeline-background {
	background: #3E3D32;
}
.cm-s-monokai-sublime .CodeMirror-selected {
	background: #49483E;
}
.cm-s-monokai-sublime .cm-comment {
	color: #75715E;
}
.cm-s-monokai-sublime .cm-string {
	color: #E6DB74;
}
.cm-s-monokai-sublime .cm-number {
	color: #66D9EF;
}
.cm-s-monokai-sublime .cm-atom {
	color: #66D9EF;
}
.cm-s-monokai-sublime .cm-keyword {
	color: #F92672;
}
.cm-s-monokai-sublime .cm-variable {
	color: #A6E22E;
}
.cm-s-monokai-sublime .cm-def {
	font-style: italic;
	color: #FD971F;
}
.cm-s-monokai-sublime .cm-variable-2 {
	color: #F92672;
}
.cm-s-monokai-sublime .cm-property {
	color: #66D9EF;
}
.cm-s-monokai-sublime .cm-operator {
	color: #F92672;
}
.cm-s-monokai-sublime .CodeMirror-linenumber {
	color: #75715E;
}

.cm-s-monokai-sublime .cm-attribute {
	color: #66D9EF;
}
.cm-s-monokai-sublime .cm-meta {
	color: #75715E;
}
.cm-s-monokai-sublime .cm-tag {
	color: #F92672;
}*/


/*code*/
._mx__code_pre{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #F2F2F2 !important;
  overflow-x: auto;
  /*border:1px solid #1D1E19;*/
  padding:15px;
  /*border-radius:3px;*/
}
._mx__code_pre code{
  /*color: #F6F7EE;*/
}
/*code span*/
._mx__code_span{
  display: inline-block;
  padding:3px;
  color: #5151BE;
	background-color: #F5F6FA;
	border:1px solid #CBD2E0;
	border-radius:2px;
	margin-left: 3px;
	margin-right:3px;
}
/*heading*/
._mx__heading{
  color: #434343;
}

._mx__heading_border{
	border-bottom: 1px solid #D5D5D5;
	color: #262626;
	display: block;
	height:92px;
	line-height:92px;
}
/*._mx__heading:hover{
  color:#3498db;
}*/
/*paragraph*/
._mx__paragraph{
  color: #4e5665;
  font-size: 14px;
	line-height:22px;
}

/*link*/
._mx__link{
  color: #317FBD;
}

/*image*/
._mx__image{
  max-width:800px;
	max-height: 600px;
	display: inline-block;
}
._mx__image_container{
	max-width:900px;
	text-align: center;
	margin-top:10px;
	margin-bottom:10px;
}
/*作者信息*/
._mx__author{
	position: relative;
	top: -45px;
	width: 165px;
	float: right;
	color: #A9A9A9;
	font-size:13px;
}

/*api*/
._mx__api_stable{
	height: 40px;
	background-color:red;
	line-height:40px;
	color: #fff;
	padding-left:10px;
}